@import 'colors.scss';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@layer utilities {
    .focus-ring {
        @apply focus:outline-none focus-within:outline-none transition duration-300 disabled:ring-0 hover:ring-2 focus:ring-2 focus-within:ring-2 group-hover:ring-2 group-focus:ring-2 hover:ring-team-current focus:ring-team-current focus-within:ring-team-current group-hover:ring-team-current group-focus:ring-team-current ring-team-current ring-offset-4 dark:ring-offset-gray-900 ring-offset-white;
    }

    .focus-ring.danger {
        @apply dark:focus:ring-red-500 dark:hover:ring-red-500 dark:focus-within:ring-red-500 dark:group-hover:ring-red-500 group-focus:dark:ring-red-500 focus:ring-red-500 hover:ring-red-500 focus-within:ring-red-500 group-hover:ring-red-500 group-focus:ring-red-500 ring-red-500;
    }

    // .bg-primary {
    //     @apply dark:bg-primary dark:text-yellow-500 bg-primary text-yellow-500;
    // }

    // .bg-secondary {
    //     @apply bg-gray-100 dark:bg-gray-800;
    // }

    .bg-alt {
        @apply bg-gray-200 dark:bg-gray-700;
    }
    .bg-gradient-inverse {
        @apply bg-gradient-to-br from-blue-600  via-purple-500 to-orange-500;
    }
    .bg-inverse-opacity {
        @apply bg-gray-900 dark:bg-gray-100;
    }
    .bg-inverse {
        @apply bg-black dark:bg-white;
    }
    .bg-primary {
        @apply dark:bg-gray-900 bg-white;
    }

    .border-primary {
        @apply border-gray-900 dark:border-white;
    }
    .border-form {
        @apply border-brand;
    }
    .border-secondary {
        @apply border-gray-200 dark:border-gray-600;
    }

    .text-primary {
        @apply text-black dark:text-gray-300;
    }

    .text-secondary {
        @apply dark:text-blueGray-500 text-gray-500;
    }
    .text-brand-inverse {
        @apply text-brand dark:text-brand;
    }

    .text-inverse {
        @apply dark:text-black text-white;
    }
    .border-section {
        @apply dark:border-gray-700 border-gray-200;
    }
    .bg-nav {
        @apply dark:bg-gray-900 bg-white;
    }
    .text-bronze {
        @apply text-orange-400 dark:text-orange-400;
    }
    .text-prata {
        @apply text-neutral-500 dark:text-neutral-400;
    }
    .text-ouro {
        @apply text-yellow-500 dark:text-yellow-400;
    }
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: 0.5rem;
}

.btn-mobile {
    display: none;
}

@media (max-width: 800px) {
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;

        transition: 0.6s;
        z-index: 100;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .nav.active .menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    .btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    .hamburger {
        border-top: 2px solid currentColor;
        width: 30px;
    }
    .hamburger::after,
    .hamburger::before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    .nav.active .hamburger {
        border-top-color: transparent;
    }
    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }
    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
.overlay {
    background: rgba(0, 0, 0, 0.849);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1050;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
